<li>
	<%= gravatar_for user %>
	<%= link_to user.name, user %>
	<% if current_user.admin? && !current_user?(user) %>
		<%= link_to "DELETE", method: :delete, confirm: "Are you sure?" %> </p>
	<% end %>
</li>
